@font-face {
    font-family: 'GothamBlack';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/gotham_black.otf') format('otf');
}

@font-face {
    font-family: 'GothamBold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/gotham_bold.otf') format('otf');
}

@font-face {
    font-family: 'GothamBook';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/gotham_book.ttf') format('ttf');
}

@font-face {
    font-family: 'GothamLight';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/gotham_light.otf') format('otf');
}

@font-face {
    font-family: 'GothamMedium';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/gotham_medium.ttf') format('ttf');
}

@font-face {
    font-family: 'GothamThin';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/gotham_thin.otf') format('otf');
}
