// COLORS
$color-primary: #1DB954;

$color-white: #FFFFFF;
$color-black: #000000;
$color-grey-darker: #121212;
$color-grey-dark: #181818;
$color-grey: #282828;
$color-grey-lighter: #b3b3b3;

// FONTS
$font-gotham: 'GothamMedium', sans-serif;
$font-gotham-bold: 'GothamBold', sans-serif;
$font-gotham-black: 'GothamBlack', sans-serif;
$font-gotham-book: 'GothamBook', sans-serif;
$font-gotham-light: 'GothamLight', sans-serif;
$font-gotham-thin: 'GothamThin', sans-serif;
